<app-header-component class="header"></app-header-component>
<br>
<h1>INICIO</h1>
<br>
<p>¡Bienvenido al Banco Digital, donde tu comodidad es nuestra prioridad!</p>
<p>En Banco Excelencia, te ofrecemos la simplicidad y la eficiencia en cada transacción. Nuestra plataforma está diseñada para brindarte opciones intuitivas
     que simplifiquen tu experiencia bancaria.</p>
<br>
<p>Dos funciones destacadas que te ofrecemos son:</p>
<br>
<h2>Listar Transferencias</h2>
<p>Accede fácilmente a un historial completo de tus transferencias. Con esta opción, podrás visualizar todas las transferencias entrantes y salientes, 
    manteniendo un control preciso de tus transacciones financieras.</p>
<br>

<h2>Pagos a través del Número de Teléfono</h2>
<p>Realiza pagos de manera rápida y segura utilizando únicamente el número de teléfono del destinatario. Simplemente ingresa el número, el concepto del 
    pago y la cantidad. Esta función innovadora simplifica los pagos entre personas, eliminando la necesidad de detalles bancarios complicados.</p>
<br>
<p>En Banco Excelencia, nos esforzamos por proporcionarte herramientas que se adapten a tu estilo de vida y te faciliten el manejo de tus finanzas. 
    Explora nuestras opciones y descubre la conveniencia de gestionar tu dinero de manera ágil y segura.</p>
