.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
  }
  
  .form-container {
    width: 300px; /* Ajusta el ancho de tu formulario según tus necesidades */
  }

  h2 {
    font-size: 24px;
    color: #333;
    text-align: center;
  }
  