<!--<p>register-page works!</p> -->

<div class="body">
    <div class="container">
        <h1 class="title"> Registrarse </h1>
        <mat-card-content class="full-width">
            <form class="registerForm">
                <mat-form-field class="full-width">
                    <input id="userNameNR" matInput placeholder="Nombre de usuario *" required>
                </mat-form-field>
                <mat-form-field  class="full-width">
                    <input id="userPhoneNR" matInput placeholder="Número de teléfono *" type="text" required pattern="[0-9]{9}">
                </mat-form-field>
                <mat-form-field  class="full-width">
                    <input id="userEmailNR" matInput placeholder="Email *" type="email" required pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$">
                </mat-form-field>
                <mat-form-field  class="full-width">
                    <input id="userPasswordNR" matInput placeholder="Contraseña *" type="password" required appBloqueador>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Repite la contraseña *" type="password" required appBloqueador>
                </mat-form-field>
                <input color="primary" value="Registrarse" class="registerButton" type="submit" routerLink="/login">  
            </form>
        </mat-card-content>
    </div>
</div>
