div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .main {
    text-align: center;
    flex-direction: column;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 90%;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .login-button {
    margin-top: 20px;
  }
  
  a {
    text-decoration: none;
    color: #3a9d10;
  }
  
  a:hover {
    text-decoration: underline;
  }
  