<div >
    <div class="main">
      <h1>Iniciar Sesión</h1>
    <mat-card-content class="full-width">
      <form class="login-form">
        <mat-form-field class="full-width">
          <input matInput placeholder="Correo electrónico" type="email">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Contraseña" type="password">
        </mat-form-field>
        <button mat-raised-button color="primary" class="login-button">Iniciar Sesión</button>
      </form>
    </mat-card-content>

    <div class="register">
        <p>¿No tienes cuenta? Regístrate <a routerLink="/register"> aquí </a></p> 
    </div>

    </div>
</div>
  