<div id="principal">
  <div class="main">
    <h1>Iniciar Sesión</h1>
    <mat-card-content class="full-width">
      <form class="login-form" (submit)="login()">
        <mat-form-field class="full-width">
          <input [(ngModel)]="email" matInput placeholder="Correo electrónico" type="email" name="email">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input [(ngModel)]="password" matInput placeholder="Contraseña" type="password" name="password">
        </mat-form-field>
        <button mat-raised-button color="primary" class="login-button" type="submit">Iniciar Sesión</button>
      </form>
    </mat-card-content>

    <div class="register">
      ¿No tienes cuenta? Regístrate <a href="http://google.com"> aquí</a>
    </div>
  </div>
</div>



